<div class="heading clearfix">
  <h2>Location</h2>
</div>

<div class="resource-box location" ng-if="location">
  <div class="icon">
    <i class="octicon octicon-pin"></i>
  </div>

  <div class="heading">
    <h3 ng-bind="address || 'Loading Address...'"></h3>
  </div>

  <div class="info">
    <span>
      Last update at
      <span ng-bind="location.updatedAt | date: 'd MMM yyyy @ HH:mm'"></span>
      <span ng-if="location.user">
        by <span ng-bind="location.user.username"></span>
      </span>
    </span>
  </div>
</div>

<div>
  <ui-gmap-google-map
    center='map.center'
    zoom='map.zoom'
    options="map.options">

    <ui-gmap-marker
      idKey="marker.id"
      coords="marker.coords"
      events="marker.events"
      options="marker.options">
    </ui-gmap-marker>
  </ui-gmap-google-map>
</div>

<div class="help" ng-if="!showSaveButton">
  <i class="octicon octicon-info"></i>
  Drag the marker to the location of the car and click the save button.
</div>

<div class="submit" ng-if="showSaveButton">
  <button class="btn btn-primary" ng-click="submit()">Save</button>
  <a ng-click="reset()">Cancel</a>
</div>
