<div class="heading clearfix">
  <h2>Discussion</h2>

  <pagination counters="meta" click="reload()"></pagination>
</div>

<div class="comment-form">
  <form ng-submit="submit()">
    <textarea placeholder="Say Something..." msd-elastic ng-model="comment.comment"></textarea>

    <div class="submit" ng-show="comment.comment">
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </form>
</div>

<div>
  <comment
    ng-repeat="comment in comments"
    comment="comment"
    update="update($comment)"
    delete="delete($comment)">
  </comment>
</div>

<div class="clearfix">
  <pagination counters="meta" click="reload()"></pagination>
</div>
