.calendar {
  width: 100%;

  .title {
    float: left;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    a {
      display: block;
      float: left;
      padding: 0 6px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.06);
      }
    }

    .date {
      display: block;
      float: left;
      width: 140px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0 none transparent;
    border-spacing: 0;
    border-collapse: separate;

    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    th,
    td {
      width: 14.2857%;
      padding: 4px 8px;
      font-weight: normal;
      box-sizing: border-box;
      border-left: 1px solid rgba(0, 0, 0, 0.1);

      &:first-child {
        border-left: 0 none transparent;
      }

      &.inactive {
        color: rgba(0, 0, 0, 0.3);
      }

      &.today {
        font-weight: 600;
      }

      a {
        display: block;
        padding: 0 6px;
        background-color: rgba(0, 0, 0, 0.06);
        border-radius: 3px;
      }

      &.comes {
        padding-left: 0;

        a {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &.goes {
        padding-right: 0;

        a {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    th {
      text-align: right;
    }
  }

  .head {
    margin-bottom: 20px;

    table {
      th {
        text-align: center;
      }
    }
  }
}
