// Layout declarations

#wrapper {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 20px;;
}

#header {
  padding: 20px 2px 0 2px;
}

#content {
  padding: 30px 2px 20px 2px;
}

.sub-view {
  margin-top: 30px;
}
