<div class="calendar">
  <div class="title">
    <a ng-click="calendar.prevMonth()">
      <span class="octicon octicon-arrow-left"></span>
    </a>

    <span class="date" ng-bind="calendar.moment.format('MMM YYYY')"></span>

    <a ng-click="calendar.nextMonth()">
      <span class="octicon octicon-arrow-right"></span>
    </a>
  </div>

  <div class="grid">
    <div class="head">
      <table>
        <thead>
          <tr>
            <th ng-repeat="day in calendar.weekDays">
              <span ng-bind="day.format('ddd')"></span>
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="body">
        <table ng-repeat="week in calendar.weeks">
          <thead>
            <tr>
              <th ng-repeat="day in week.days" ng-class="{inactive: !calendar.inMonth(day)}">
                <span ng-bind="day.date()"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in itemsInWeek(week)">
              <td ng-repeat="_ in week.daysBefore(item.startsAt)"></td>

              <td ng-attr-colspan="{{week.daysBetween(item.startsAt, item.endsAt).length}}">
                <a
                  ng-click="onItemClick(item)"
                  ng-attr-title="{{itemTitle(item)}}"
                  ng-bind="item.title">
                </a>
              </td>

              <td ng-repeat="_ in week.daysAfter(item.endsAt)"></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
