<div class="heading clearfix">
  <h2>New Driver</h2>

  <div class="nav">
    <a ui-sref="app.car.owners" ui-sref-active="active">Owners</a>
    <a ui-sref="app.car.borrowers" ui-sref-active="active">Guests</a>
    <a ui-sref="app.car.driver-new" ui-sref-active="active">Add Driver</a>
  </div>
</div>

<div>
  <form ng-submit="submit()">
    <fieldset>
      <div class="icon">
        <i class="octicon octicon-person"></i>
      </div>

      <h3>Select A New Driver</h3>

      <div class="input select">
        <span class="err" ng-bind="errors.userId"></span>
        <ui-select ng-model="driver.user" reset-search-input="false">
          <ui-select-match placeholder="Enter A Username">
            {{ $select.selected.username }}
          </ui-select-match>

          <ui-select-choices
            repeat="user in users track by $index"
            refresh="reload($select.search)"
            refresh-delay="200">
            <div ng-bind="user.username"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="input checkbox">
        <label>
          <input type="checkbox" ng-model="driver.owner">
          Driver Is A Car Owner
        </label>
      </div>
    </fieldset>

    <div class="submit">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
