<div class="heading clearfix">
  <h2>Discussion</h2>

  <pagination counters="meta" click="reload()"></pagination>
</div>

<div class="comment-form">
  <form ng-submit="submit()">
    <textarea placeholder="Say Something..." msd-elastic ng-model="comment.comment"></textarea>

    <div class="submit" ng-show="comment.comment">
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </form>
</div>

<div>
  <div ng-repeat="comment in comments" class="resource-box comment">
    <div class="icon">
      <i class="octicon octicon-megaphone"></i>
    </div>

    <div class="heading">
      <h3>
        <span ng-bind="comment.user.username"></span>

        <span class="created-at">
          said
          <span ng-bind="comment.createdAt | timeAgo"></span>
        </span>
      </h3>
    </div>

    <div class="markdown" ng-bind-html="comment.comment | markdown"></div>
  </div>
</div>

<div class="clearfix">
  <pagination counters="meta" click="reload()"></pagination>
</div>
