<form ng-submit="submit()">
  <fieldset>
    <div class="icon">
      <i class="octicon octicon-calendar"></i>
    </div>

    <h3>Dates</h3>

    <div class="input string">
      <span class="err" ng-bind="errors.startsAt"></span>
      <datepicker ng-model="tmpReservation.startsAt" placeholder="When Will You Start?"></datepicker>
    </div>

    <div class="input string">
      <span class="err" ng-bind="errors.endsAt"></span>
      <datepicker ng-model="tmpReservation.endsAt" placeholder="When Will You Be Back?"></datepicker>
    </div>
  </fieldset>

  <fieldset ng-if="!tmpReservation.id">
    <div class="icon">
      <i class="octicon octicon-comment"></i>
    </div>

    <h3>Comment</h3>

    <div class="input string">
      <textarea placeholder="Anything notable?" ng-model="comment.comment"></textarea>
    </div>
  </fieldset>

  <div class="submit">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
