<div class="heading clearfix">
  <h2>Reservations</h2>

  <div class="nav">
    <a ui-sref="app.car.reservation-new">Add Reservation</a>
  </div>
</div>

<div class="calendar">
  <div class="title clearfix">
    <a ui-sref="app.car.reservations({date: date.clone().subtract(1, 'month').format('YYYY-MM')})">
      <span class="octicon octicon-chevron-left"></span>
    </a>

    <span class="date" ng-bind="date.format('MMM YYYY')"></span>

    <a ui-sref="app.car.reservations({date: date.clone().add(1, 'month').format('YYYY-MM')})">
      <span class="octicon octicon-chevron-right"></span>
    </a>
  </div>

  <calendar date="date" items="items" click="goTo($item)"></calendar>
</div>
