<div class="heading clearfix">
  <h2>Ride Info</h2>

  <div class="nav" ng-if="car.CurrentUser.owner || currentUser.is(ride.user)">
    <a ui-sref="app.car.ride.comments" ui-sref-active="active">Discussion</a>
    <a ui-sref="app.car.ride.edit" ui-sref-active="active">Edit</a>
    <a ng-confirm="delete()" ng-confirm-message="Do You Really Want To Delete This Ride?">Delete</a>
  </div>
</div>

<div class="resource-box ride">
  <div class="icon">
    <i class="octicon octicon-milestone"></i>
  </div>

  <div class="heading">
    <h3>
      <span ng-bind="ride.distance"></span> km

      <span class="username" ng-if="ride.user">
        by <span ng-bind="ride.user.username"></span>
      </span>
    </h3>
  </div>

  <div class="info">
    <span ng-bind="ride.startedAt | date: 'd MMM yyyy @ HH:mm'"></span>
    <span ng-bind="ride.endedAt | date: 'd MMM yyyy @ HH:mm'"></span>
    <span ng-if="ride.commentsCount > 0">
      <ng-pluralize count="ride.commentsCount" when="{1: '1 Comment', other: '{} Comments'}">
      </ng-pluralize>
    </span>
  </div>
</div>

<div class="sub-view" ui-view></div>
