<div class="heading clearfix">
  <h2>Owners</h2>

  <div class="nav">
    <a ui-sref="app.car.owners" ui-sref-active="active">Owners</a>
    <a ui-sref="app.car.borrowers" ui-sref-active="active">Guests</a>
    <a ui-sref="app.car.driver-new" ui-sref-active="active">Add Driver</a>
  </div>
</div>

<div class="heading clearfix">
  <div class="search">
    <input type="text" placeholder="Search" ng-input="reload()" ng-model="meta.q">
  </div>

  <pagination counters="meta" click="reload()"></pagination>
</div>

<div>
  <div ng-repeat="ownership in ownerships" class="resource-box ownership">
    <div class="icon">
      <i class="octicon octicon-person"></i>
    </div>

    <div class="action" ng-if="car.currentUser.owner && !currentUser.is(ownership.user)">
      <a ng-confirm="delete(ownership)" class="btn btn-secondary">
        Drop
      </a>
    </div>

    <div class="heading">
      <h3>
        <span ng-bind="ownership.user.username"></span>
      </h3>
    </div>

    <div class="info">
      Owner since
      <span ng-bind="ownership.createdAt | date: 'd MMM yyyy'"></span>
    </div>
  </div>
</div>

<div class="empty" ng-if="ownerships.length === 0">
  <i class="octicon octicon-alert"></i> I couldn't find any owners.
</div>

<div class="clearfix">
  <pagination counters="meta" click="reload()"></pagination>
</div>
