<div class="heading clearfix">
  <h1>Car Info</h1>

  <div class="nav">
    <a ui-sref="app.car.location" ui-sref-active="active">Location</a>
    <a ui-sref="app.car.comments" ui-sref-active="active">Discussion</a>
    <a ui-sref="app.car.reservations" ng-class="{active: isActiveState('reservations')}">Reservations</a>
    <a ui-sref="app.car.rides" ng-class="{active: isActiveState('rides')}">Rides</a>
    <a ui-sref="app.car.owners" ng-class="{active: isActiveState('drivers')}" ng-if="car.currentUser.owner">Drivers</a>
    <a ui-sref="app.car.edit" ui-sref-active="active" ng-if="car.currentUser.owner">Edit</a>
    <a ui-sref="app.car.delete" ui-sref-active="active" ng-if="car.currentUser.owner">Delete</a>
  </div>
</div>

<div class="resource-box car">
  <div class="icon">
    <i class="octicon octicon-rocket"></i>
  </div>

  <div class="heading">
    <h3 ng-bind="car.name"></h3>
  </div>

  <div class="info">
    <span>
      <span ng-bind="car.mileage"></span> km since
      <span ng-bind="car.createdAt | date: 'd MMM yyyy'"></span>
    </span>

    <span>
      <span ng-bind="car.ridesCount"></span> Rides
    </span>

    <span>
      <span ng-bind="car.ownersCount + car.borrowersCount"></span> Drivers
    </span>
  </div>
</div>

<div class="sub-view" ui-view></div>
