<div class="heading clearfix">
  <h2>Password Reset</h2>
</div>

<div class="profile-password-form">
  <form ng-submit="submit()">
    <fieldset>
      <div class="icon">
        <i class="octicon octicon-key"></i>
      </div>

      <h3>Reset Your Password</h3>

      <div class="input string">
        <input type="password" placeholder="New Password" required ng-model="user.password">
      </div>

      <div class="input string">
        <input type="password" placeholder="Repeat Your New Password" required ng-model="user.passwordConfirmation">
      </div>

      <div class="input string">
        <input type="password" placeholder="Confirm With Your Current Password" required ng-model="user.passwordCurrent">
      </div>
    </fieldset>

    <div class="submit">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
